USE [master]
GO
/****** Object:  Database [smarketdb]    Script Date: 24.1.2021 14:04:08 ******/
CREATE DATABASE [smarketdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'smarketdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\smarketdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'smarketdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\smarketdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smarketdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smarketdb]
GO
/****** Object:  Table [dbo].[BillDetailsTbl]    Script Date: 24.1.2021 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetailsTbl](
	[BillDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[BillTblId] [int] NOT NULL,
	[ProdId] [int] NOT NULL,
	[ProdName] [varchar](50) NOT NULL,
	[ProdTotal] [varchar](50) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_BillDetailsTbl] PRIMARY KEY CLUSTERED 
(
	[BillDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTbl]    Script Date: 24.1.2021 14:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTbl](
	[Buildid] [int] IDENTITY(1,1) NOT NULL,
	[SellerName] [varchar](50) NOT NULL,
	[BillDate] [varchar](50) NOT NULL,
	[TotAmt] [int] NOT NULL,
	[Loginid] [int] NULL,
 CONSTRAINT [PK_BillTbl] PRIMARY KEY CLUSTERED 
(
	[Buildid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTbl]    Script Date: 24.1.2021 14:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTbl](
	[CatId] [int] NOT NULL,
	[CatName] [varchar](50) NOT NULL,
	[CatDesc] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CategoryTbl] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginTbl]    Script Date: 24.1.2021 14:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTbl](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](50) NULL,
	[LoginPass] [varchar](50) NULL,
	[LoginStatus] [varchar](50) NULL,
 CONSTRAINT [PK_LoginTbl] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 24.1.2021 14:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[Prodid] [int] NOT NULL,
	[ProdName] [varchar](50) NULL,
	[ProdCity] [varchar](50) NULL,
	[ProdCat] [varchar](50) NULL,
	[ProdPrice] [varchar](50) NULL,
 CONSTRAINT [PK_ProductTbl] PRIMARY KEY CLUSTERED 
(
	[Prodid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerTbl]    Script Date: 24.1.2021 14:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerTbl](
	[SellerId] [int] NOT NULL,
	[SellerName] [varchar](50) NOT NULL,
	[SellerAge] [varchar](50) NOT NULL,
	[SellerPhone] [varchar](50) NOT NULL,
	[SellerPass] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SellerTbl] PRIMARY KEY CLUSTERED 
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
